<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <form th:object="${condition}" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" th:field="*{site_id}" class="formcontrol" placeholder="아이디"/>
            </div>
            <div class="form-group mb-2">
                <input type="text" th:field="*{nickname}" class="formcontrol" placeholder="닉네임"/>
            </div>
            <div class="form-group mb-2">
                <input type="text" th:field="*{email}" class="formcontrol" placeholder="이메일"/>
            </div>
            <div class="form-group mx-sm-1 mb-2">
                <select th:field="*{role}" class="form-control">
                    <option value="">주문상태</option>
                    <option th:each= "status : ${T(study.voicebook.entity.MemberType).values()}"
                            th:value="${status}"
                            th:text="${status}">option
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>아이디</th>
                <th>닉네임</th>
                <th>이메일</th>
                <th>전화번호</th>
                <th>타입</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${memberList}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.site_id}"></td>
                <td th:text="${member.nickname}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.phonenum"}></td>
                <td th:text="${member.role"}></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>