<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>VoiceBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>VOICE BOOK</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/members/list">회원 목록</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/books/new">상품 등록</a>
            <a class="btn btn-lg btn-dark" href="/books?page=1&size=2">상품 목록</a>
        </p>
        <p class="lead">성우 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/voice">성우 목록</a>
        </p>
        <p class="lead">검색 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/search">상품 검색</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->